*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body {
  height: 100%;
}

html,body {
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #000;
  color: #fff;
  text-align: center;
}
header,.left,.right{
  position: absolute;
}
ul ,li{
  list-style: none;
}
header{
  left: 10px;
  right: 10px;
  top: 10px;
  height: 150px;

}
header h1{
  font-size: 40px;
  height: 60px;
  line-height: 60px;
}
.left{
  left:10px;
  top:170px;
  bottom: 10px;
  width: 15%;
  border:solid #fff 1px;
  overflow: auto;
}
.left ul{
  overflow: auto;
}
.left ul li{
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  overflow: hidden;
  /*不换行文字一行显示*/
  white-space: nowrap;
  text-overflow: ellipsis;
  /*文字超出显示是省略号*/
}
.left ul li.selected{
  color: greenyellow;
}
.right{
  top:170px;
  right:10px;
  bottom: 10px;
  left:-webkit-calc(15% + 20px);
  left:calc(15% + 20px);

}
p{
  margin: 0 auto;

}
input[type = range]{
  -webkit-appearance: none;
  height: 8px;
  background: #999;
  border-radius: 10px;
  outline: none;
}
input[type = range]::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  background: #fff;
  border-radius: 100%;
  outline: none;
}
input[type = range]::-moz-range-track{
  -webkit-appearance: none;
  height: 8px;
  background: #999;
  border-radius: 10px;
  border: none;
}
input[type = range]::-moz-range-thumb{
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  background: #fff;
  border-radius: 100%;
  outline: none;
}
header .type:after{
  display: block;
  content: "";
  clear: both;
}
.type{
   display: inline-block;
  /*border: solid #fff 1px;*/
  /*border-radius: 10px;*/
}
.type li {
  float: left;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  width: 80px;
  border-top:solid #fff 1px;
  border-right:solid #fff 1px;
  border-bottom:solid #fff 1px;
  /*display: inline-block;*/
}
#li1{
  border-left:solid #fff 1px ;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;

}
#li2{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

}
.type li.selected{
  background: #fff;
  color: #000;
}
@media screen and (max-width: 800px),screen and (max-height: 500px){
  body{
    font-size: 12px;
  }
  header{

    height: 80px;

  }
  header h1{
    font-size: 24px;
    height: 35px;
    line-height: 35px;
  }
  .type li {

    height: 16px;
    line-height: 16px;
    width: 50px;

  }
  .left,.right{
    top:100px;
  }
}
